@model IEnumerable<FoodFIghtAdmin.Models.MatchSession>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConnectedUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConnectedUser.ConnectedUserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MatchSessionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MatchSessionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MatchSessionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
