@model IEnumerable<FoodFIghtAdmin.Models.BlockedUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BaseUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlockedUserNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BaseUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlockedUserNavigation.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BlockUserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BlockUserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BlockUserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
